@tailwind base;
@tailwind components;
@tailwind utilities;



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio" i] {
  margin: 0;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@layer components {
  *{
    @apply box-border
  }
  html, body{
    @apply p-0 m-0 text-[#333] text-[1em] bg-white
  }
  input {
    @apply focus:outline-none;
  }

  /* input::placeholder {
    @apply font-["Montserrat"]
  } */

  a{
    @apply text-inherit cursor-pointer block no-underline
  }

  select {
    @apply focus:outline-none;
  }

  button {
    @apply cursor-pointer;
  }

  ul {
    @apply p-0 m-0;
  }

  li {
    @apply list-none;
  }

  p {
    @apply m-0;
  }

  .add-btn {
    @apply bg-violet-600 px-8 py-2 text-[1rem] rounded-[0.625rem] text-white font-semibold;
  }

  .save-btn {
    @apply bg-violet-600 px-5 py-2 text-[1rem] rounded-[0.625rem] text-white font-semibold ml-4;
  }
  .cancel-btn {
    @apply border border-violet-600 text-[1rem] px-5 py-2 rounded-[0.625rem];
  }

  .label {
    @apply absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900 text-[1rem];
  }
}

#sentry-feedback {
  display: none;
}